<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<connectionStrings>
		<add name="ModeloBDContainer"
			 connectionString="metadata=res://*/ModeloBD.csdl|res://*/ModeloBD.ssdl|res://*/ModeloBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-S1R48RV6\SQLEXPRESS01;initial catalog=DBHuntersTrophy;persist security info=True;user id=devGame;password=1234;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient" />
	</connectionStrings>


	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="tcpBinding">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="trofeoDelCazadorServicio.Servicios.gestionUsuario.gestionUsuarioServicio">
				<endpoint address="Service" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="trofeoDelCazadorServicio.Servicios.gestionUsuario.IGestionUsuario" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8081" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
